/* CSS body */
/* background style */
body {
	background-color: #faf8ef;
}
/* text and score styling */
p {
	color: #776e65;
	font-size: 19px;
}
h1 {
	text-align: center;
}
/* score grid alignment */
#score {
	text-align: center;
}
/* matrice box styling */
#canvas {
	background-color: #776e65;
}
/* matrice box postioning and alignment */
#canvas-block {
	margin-left: -200px;
	padding-left: 50%;
}
